#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-family: Arial;
}
input {
    padding: 10px;
    border: 2px solid #bbb;
    border-radius: 8px;
    width: 250px;
    font-size: 16px;
}


div.board-container {
    display: grid;
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}


div.board-cell {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    background-color: #f5f5f5;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.piece {
    width: 80%;            /* גודל יחסי — מתאים לכל לוח */
    height: 80%;
    border-radius: 50%;
}


button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
}
button:disabled {
    background: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
}


button:hover {
    background-color: #444;
}


p {
    text-align: center;
    font-size: 22px;
    color: green;
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #fff;
    margin: 10px auto;
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

li span {
    font-size: 16px;
}